* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

body {
    font-family: 'Poppins', sans-serif;

}

#banner {
    background-color: #8D8686;
    height: 60px;
    padding-left: 20px;
    padding-top: 10px;
    box-shadow: 0 3px 6px 0 rgba(59, 58, 57, 0.2), 0 4px 10px 0 rgba(59, 58, 57, 0.19);
}

#title {
    color: #DC1F26;
    font-weight: 900;
    font-size: 175%;
    padding-bottom: 5px;
    float: left;
    font-family: 'Titillium Web', sans-serif;
}

#finder {
    color: black;
}

#loginButton {
    float: right;
    margin-right: 8px;
    margin-top: 20px;
}

.welcomeName {
    padding-bottom: 5px;
    float: right;
    padding-right: 5px;
    margin-top: 25px;
}

#signupPage, #loginPage, #artistDashboard, #concertList {
    margin-top: 25px;
    height: auto;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: 1px;
    border-radius: 4px;
    display: 0 auto;
    width: 75%;
}

legend {
    margin-bottom: 20px;
    text-align: center;
}


h2, h1 {
    color: #DC1F26;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 150%
}

button {
    box-shadow: 0 3px 6px 0 rgba(59, 58, 57, 0.2), 0 4px 10px 0 rgba(59, 58, 57, 0.19);
    background-color: #2BAA2E;
    font-size: 80%;
    color: white;
    border-radius: 10px;
    border: 1px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
}

input {
    background-color: #E1DFDF;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 90%
}

label {
    font-size: 85%;
}

#howItWorks {
    margin-bottom: 20px;
}

#artistList {
    margin-top: 20px;
}

#manageArtists {
    margin-bottom: 35px;
}

/*
.createAccountForm,
.loginForm,
{
    background-color: darkgray;
    opacity: 0.8;
    box-shadow: 0 3px 6px 0 rgba(59, 58, 57, 0.2), 0 4px 10px 0 rgba(59, 58, 57, 0.19);
    display: 0 auto;
    width: 75%;
    height: auto;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: 1px;
    border-radius: 4px;
}
*/
